@model IEnumerable<Bank_Management_System.Models.Direct_Deposit_Authorization_Form>

@{
    ViewBag.Title = "Index";
}



<style>
    body {
        background-color: aquamarine;
    }
</style>
<div>
    <label>Please click on </label>@Html.ActionLink("Proceed", "Create")<label> link to proceed for Direct_Deposit_Authorization_Form.</label>
    
</div>
