@model IEnumerable<Bank_Management_System.Models.Credit_Request_form>

@{
    ViewBag.Title = "Index";
}

<div>
    <label>Please click the below link to proceed for  CREDIT REQUEST form.</label><br />
    <a href="https://localhost:44338/Credit_Request_form/Create">PROCEED</a><br />
    
</div>
<style>
    body {
        background-color: aquamarine;
    }
</style>