@model IEnumerable<Bank_Management_System.Models.Bank_Account_Registration>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <label>Please click the below link to proceed for Bank_Account_Registration.</label><br />
    <a href="https://localhost:44338/Bank_Account_Registration/Create">PROCEED</a><br />
    
</div>
<style>
    body {
        background-color: aquamarine;
    }
</style>